<% layout('/layout/boilerplate') -%>

    <body>
        <h1>LogIn to Play</h1>
        <form method="post" action="/login" class="form g-3 needs-validation" novalidate>
            <div>
                <div>
                    <lable class="form-label">Username: </lable>
                    <input class="form-control" type="text" name="username" required><br>
                </div>

                <div>
                    <lable class="form-label">Password: </lable>
                    <input class="form-control" type="password" name="password" required><br>
                </div>


                <button class="mb-5 px-3 py-1" style="background-color: #eff898;">Login</button>
            </div>
        </form>



    </body>